# apps/fleetman-api-gateway-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fleetman-api-gateway-deployment
  namespace: minikube-tomcat
  labels:
    app: fleetman-api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fleetman-api-gateway
  template:
    metadata:
      labels:
        app: fleetman-api-gateway
    spec:
      containers:
        - name: fleetman-api-gateway
          image: richardchesterwood/k8s-fleetman-api-gateway:latest # <--- CHANGED IMAGE TAG
          # REMOVE envFrom SECTION IF IT'S HERE
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
          volumeMounts: # <--- ADD THIS SECTION
            - name: api-gateway-config
              mountPath: "/config"
              readOnly: true
      volumes: # <--- ADD THIS SECTION
        - name: api-gateway-config
          configMap:
            name: fleetman-api-gateway-config # Reference the existing ConfigMap
            optional: false